[core]
  editor = vim

[pull]
  ff = only

[push]
  autoSetupRemote = true

[diff]  
  colorMoved = "default"
  algorithm = "histogram"
  
[branch]
  sort = "-committerdate"

# [merge]
#  conflictstyle = "zdiff3"
#  tool = "meld"

[rebase]
  autoStash = true

# include personal email if vergilcw is in the path
[includeIf "gitdir:**/vergilcw/**"]
	path = ~/.gitconfig_vergilcw

# or in the origin url
[includeIf "hasconfig:remote.*.url:https://github.com/vergilcw/**"]
	path = ~/.gitconfig_vergilcw

# standard linux binary locations
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
